<p id="notice"><%= notice %></p>

<h2> <%= "#{@album.banda.name} - #{@album.titulo}" %></h2>

<div class='info'>
  <p>
    <b>Banda:</b>
    <%= link_to @album.banda.name, banda_path(@album.banda) %>
  </p>

  <p>
    <b>Genero:</b>
    <%= @album.genero %>
  </p>

  <p>
    <b>Lancado em:</b>
    <%= @album.lancado_em %>
  </p>

  <p>
    <b>N faixas:</b>
    <%= @album.n_faixas %>
  </p>

  <p>
    <b>Nota:</b>
    <span class='nota'><span class='star-<%= @album.nota %>'><%= @album.nota %></span></span>
  </p>

  <p>
    <b>Tenho?</b>
    <span class='have-<%=@album.have%>'><%= @album.have ? "Sim" : "Não" %></span>
  </p>

</div>

<div class='faixa-div'>
  <h3> <%= link_to 'Faixas', album_faixas_path(@album) %> </h3>
  <ol>
    <%= render @album.faixas %>
  </ol>
</div>

<div class='actions'>
  <%= link_to 'Edit', edit_album_path(@album) %> |
  <%= link_to 'Back', banda_path(@album.banda) %>
</div>