<!DOCTYPE html>
<html>
<head>
  <title>Muly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
	<h1><%= link_to "Muly", root_path() %></h1>
	<p>Sua biblioteca de música no Rails Girls Bélem.	</p>
</div>

<%= yield %>

</body>
</html>
